@model IEnumerable<HomeworkAssignment3.Models.FileModel>

@{
    ViewBag.Title = "Videos";
}

<h2 style="padding: 12px 0px 18px 0px">@ViewBag.Title</h2>
<h4>All the videos that are in the folder are displayed</h4>

<div class="container">
    <div class="row">
        @foreach (var vid in Model)
        {
            <div class="col" style="padding: 12px 0px 18px 0px">
                <div>
                    <a href="~/Media/Videos/@vid.FileName" data-fancybox="gallery" caption="@vid.FileName">
                        <video controls width="300" height="300"><source src="~/Media/Videos/@vid.FileName"></video>
                    </a>
                    <p>File Name: @Html.DisplayFor(modelitem => vid.FileName)</p> <br />
                    <div class="btn btn-success">@Html.ActionLink("Download", "DownloadFile", new { fileName = vid.FileName })</div>
                    <div class="btn btn-danger">@Html.ActionLink("Delete", "DeleteFile", new { fileName = vid.FileName })</div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function ($) {
        $(".gallery a").fancybox({
            buttons: [
                "slideShow",
                "thumbs",
                "zoom",
                "fullScreen",
                "share",
                "close"
            ],
            loop: false,
            protect: true
        });
    });
</script>